/GroupProject/.vs/GroupProject/FileContentIndex/19c83070-fa93-4e5d-b79a-8864f2ace3c2.vsidx
/GroupProject/.vs/GroupProject/FileContentIndex/abcdf47d-6bb6-4d95-8df9-3074517b77a2.vsidx
/GroupProject/.vs/GroupProject/FileContentIndex/cb0601ba-6b14-468a-ada4-4504dca74c3a.vsidx
/GroupProject/.vs/GroupProject/FileContentIndex/e9358eaf-ce89-4def-bec9-83da5879c972.vsidx
/GroupProject/.vs/GroupProject/FileContentIndex/f6950d9e-45f0-40ec-8fec-a78ce8a58298.vsidx
